table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

th {
  background-color: #3C91E6;
  color: #F9F9F9;
  padding: 12px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
}

th,
td {
  text-align: start;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

tbody tr td a {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}